{% extends "asha worker/asha_worker_header.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table class="table table-responsive table-striped table-bordered" style="
                                         position: relative;right: 35px;">
  <tr>
    <td scope="col"><div align="center"><strong>S.no</strong></div></td>
    <td scope="col"><div align="center"><strong>Name</strong></div></td>
    <td scope="col"><div align="center"><strong>Gender</strong></div></td>
    <td nowrap scope="col"><div align="center"><strong>Date Of Birth</strong></div></td>
    <td scope="col"><div align="center"><strong>Address</strong></div></td>
    <td scope="col"><div align="center"><strong>Phone No.</strong></div></td>
    <td scope="col"><div align="center"><strong>Email Id</strong></div></td>
    <td scope="col"><div align="center"><strong>Panchayat</strong></div></td>
    <td scope="col"><div align="center"><strong></strong></div></td>
  </tr>
    {%for i in data %}
  <tr>
    <td>{{loop.index}}</td>
      <td><img src="{{ i['photo'] }}" height="150px" width="150px" alt="Avatar" style="border-radius: 50%" ><br><b>Name: </b>{{ i['name'] }}</td>
    <td>{{ i['gender'] }}</td>
    <td nowrap>{{ i['date_of_birth'] }}</td>
    <td>{{ i['place'] }},{{ i['post'] }},{{ i['pincode'] }},{{ i['district'] }}</td>
    <td>{{ i['phone_no'] }}</td>
    <td>{{ i['email_id'] }}</td>
    <td>{{ i['panchayat'] }}</td>
      <td><a href="/update_quarantine/{{ i['patient_id'] }}" class="badge badge-success light" >Update Quarantine</a></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}

