<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/loginpost">
  <table width="200" border="1">
    <tr>
      <td><div align="center"><strong>Username</strong></div></td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td><div align="center"><strong>Password</strong></div></td>
      <td><label for="textfield2"></label>
      <input type="password" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Login" />
      </div></td>
    </tr>
      <tr>
      <td colspan="2"><div align="center">
          <a href="/add_hospital"> New hospital ? Signup</a>
          <a href="/patient_registration"> New patient ? Signup</a>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
