{% extends "patient/patient_header.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/post_patient_complaint">
  <table style="position: relative;right: 53px;top: 90px;">
    <tr>
      <th scope="row" style="position: relative;right: 13px;top: 13px;" >Complaint</th>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" style="width: 623px;" class="form-control" required ></textarea></td>
    </tr>
    <tr>
      <td align="center" colspan="2" scope="row"><input type="submit" name="button" id="button" value="Post" class="btn btn-primary mt-3" style="position: relative;left: 33px;" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}

