{% extends "hospital/hospital_header.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Edit Disease</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/edit_disease_post/{{data['disease_id']}}">
  <table style="
    position: relative;right: 76px;top: 73px;width: 479px;" >
    <tr>
      <td><div align="center"><strong style="position: relative;top: 10px;" >Disease</strong></div></td>
      <td><label for="textfield"></label>
        <div align="left">
          <input type="text" name="textfield" id="textfield" value="{{data['disease']}}" class="form-control" required />
      </div></td>
    </tr>
    <tr>
      <td><div align="center"><strong style="position: relative;top: 10px;right: 12px" >Symptoms</strong></div></td>
      <td><label for="textfield2"></label>
        <div align="left">
          <input type="text" name="textfield2" id="textfield2" value="{{data['symptoms']}}" class="form-control" required />
      </div></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Update" class="btn btn-primary mt-3" style="
    position: relative;left: 266px;" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
