<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/add_doctor">Add Doctor</a></td>
    </tr>
    <tr>
      <td><a href="/view_doctor">View Doctor</a></td>
    </tr>
    <tr>
      <td><a href="/add_disease">Add Disease</a></td>
    </tr>
    <tr>
      <td><a href="/view_disease">View Disease</a></td>
    </tr>
    <tr>
      <td><a href="/hospital_view_patients">View Patients</a></td>
    </tr>
    <tr>
      <td><a href="/patient_entry">Manage Patient Entry</a></td>
    </tr>
    <tr>
      <td><a href="/h_view_review">View Reviews</a></td>
    </tr>
  </table>
</form>
</body>
</html>
