{% extends "hospital/hospital_header.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <table class="table  table-striped table-bordered" style="
                                         position: relative;right: 17px;" >
    <tr>
       <td scope="col"><div align="center"><strong>S.no</strong></div></td>
       <td scope="col"><div align="center"><strong>Patient</strong></div></td>
       <td scope="col"><div align="center"><strong>Doctor</strong></div></td>
       <td scope="col"><div align="center"><strong>Date</strong></div></td>
       <td scope="col"><div align="center"><strong>Status</strong></div></td>
       <td scope="col"><div align="center"><strong></strong></div></td>
    </tr>
      {% for i in data %}
      <tr>
          <td>{{loop.index}}</td>
          <td><img src="{{ i['photo'] }}" height="150px" width="150px" style="border-radius: 50%;height: 140px;" alt="Avatar"><br>{{i['name']}}</td>
          <td><img src="{{ i['d_profile_photo'] }}" height="150px" width="150px" style="border-radius: 50%;height: 140px;" alt="Avatar"><br> Dr. {{ i['d_name'] }}</td>
          <td>{{i['date']}}</td>
          <td>{{i['status']}}</td>
          <td>{% if i['status']=="pending" %}<p><a href="/approve_phr_entry/{{i['patient_entry_id']}}" class="badge badge-success" >Approve</a></p>
              <p><a href="/reject_phr_entry/{{ i['patient_entry_id'] }}" class="badge badge-danger" style="
               width: 77px;" >Reject</a></p>{% elif i['status']=="approve" %}<a href="/upload_phr/{{ i['patient_entry_id'] }}"  class="badge badge-primary" >Add Phr</a> <br><br><a href="/view_phr/{{ i['patient_entry_id'] }}"  class="badge badge-primary" >View Phr</a>{% else %}<b><font color="red">Rejected</font></b>{% endif %}</td>
      </tr>
      {% endfor %}
  </table>
</body>
</html>
{% endblock %}
