{% extends "hospital/hospital_header.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>View Disease</title>
</head>

<body>
<table class="table table-responsive table-striped table-bordered" style="
                                         position: relative;right: 17px;" >
  <tr>
    <td scope="col"><div align="center"><strong>S.no</strong></div></td>
    <td scope="col"><div align="center"><strong>Disease</strong></div></td>
    <td scope="col"><div align="center"><strong>Symptoms</strong></div></td>
    <td scope="col"><div align="center"><strong>Date</strong></div></td>
    <td scope="col"><div align="center"><strong></strong></div></td>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{i['disease']}}</td>
    <td>{{i['symptoms']}}</td>
    <td nowrap>{{i['date']}}</td>
    <td><p><a href="/edit_disease/{{i['disease_id']}}" class="badge badge-success" style="
    position: relative;left: -1px;width: 61px;" >Edit</a></p>
    <p><a href="/delete_disease/{{i['disease_id']}}" onclick="return confirm('Do you want to delete')"  class="badge badge-danger" >Delete</a></p></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}
