<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/addcollector">Add Collector</a></td>
    </tr>
    <tr>
      <td><a href="/view_collector">View Collector</a></td>
    </tr>
    <tr>
      <td><a href="/view_complaint">View Complaints & Send Replay</a></td>
    </tr>
    <tr>
      <td><a href="/hospital_view_disease">View Disease</a></td>
    </tr>
    <tr>
      <td><a href="/view_hospital">View Hospitals</a></td>
    </tr>
    <tr>
      <td><a href="/hospital_view_doctor">View Doctor</a></td>
    </tr>
    <tr>
      <td><a href="/view_review">View Reviews</a></td>
    </tr>
  </table>
</form>
</body>
</html>
