{% extends "admin/admin_header.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table class="table table-responsive table-striped table-bordered" style="
                                         position: relative;right: 35px;">
  <tr>
    <th scope="col"><div align="center">S.no</div></th>
    <th scope="col"><div align="center">Name</div></th>
    <th scope="col"><div align="center">Gender</div></th>
    <th scope="col"><div align="center">DOB</div></th>
    <th scope="col"><div align="center">Specialisation</div></th>
    <th scope="col"><div align="center">Experience</div></th>
    <th scope="col"><div align="center">Qualification</div></th>
    <th scope="col"><div align="center">Address</div></th>
    <th scope="col"><div align="center">Email Id</div></th>
    <th scope="col"><div align="center">Phone no.</div></th>
    <th scope="col"><div align="center">Hospital</div></th>
    <th scope="col"><div align="center">Schedule Time</div></th>
  </tr>
    {%for i in data %}
  <tr>
    <td >{{loop.index}}</td>
    <td><img src="{{ i['d_profile_photo'] }}" height="150px" width="150px" alt="Avatar" style="border-radius: 50%"><br><a  >Dr. {{ i['d_name'] }}</a></td>
    <td>{{ i['d_gender'] }}</td>
    <td nowrap>{{ i['d_date_of_birth'] }}</td>
    <td>{{ i['d_specialisation'] }}</td>
    <td>{{ i['d_experience'] }}</td>
    <td>{{ i['d_qualification'] }}</td>
    <td>{{ i['d_place'] }},{{ i['d_post'] }},{{ i['d_pincode'] }},{{ i['d_district'] }}</td>
    <td>{{ i['d_email_id'] }}</td>
    <td>{{ i['d_phone_no'] }}</td>
    <td><img src="{{ i['h_photo'] }}" height="150px" width="150px" alt="Avatar" style="border-radius: 50%" ><br>{{ i['h_name'] }}</td>
    <td nowrap>{{ i['d_schedule_time'] }}</td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}