<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/view_profile">View Profile</a></td>
    </tr>
    <tr>
      <td><a href="/add_asha_worker">Add Asha Worker</a></td>
    </tr>
    <tr>
      <td><a href="/view_asha_worker">View Asha Worker</a></td>
    </tr>
    <tr>
      <td><a href="/allocate_ashaworker">Allocate Work To Asha Worker</a></td>
    </tr>
    <tr>
      <td><a href="/collector_view_patients">View Locationwise Patient Status</a></td>
    </tr>
    <tr>
      <td><a href="/view_hospital_reviews">View Hospital Reviews</a></td>
    </tr>
  </table>
</form>
</body>
</html>
